a {
    text-decoration: none;
    color:fuchsia;
}
/* nevim co jsem tady dělal, hhahahahhhahahahahahahah */

#prvni {
    text-align: center;
    text-decoration: wavy;
    color: mediumvioletred;
    font-size: 30px;
    font-weight: unset;
    font-family: Verdana, Arial;
    text-indent: 10ex;
    font-style: italic;
}