<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Pozicování věcí</title>
    <link rel="stylesheet" href="css-layout/styles.css">
</head>
<body>
    <div id="wraper">
        <nav id="hmenu">
            <ul>
                <li><a href="https://puginarug.com/">Produkty</a></li>
                <li><a href="https://cs.wikipedia.org/wiki/Agraelus">Galerie</a></li>
                <li><a href="https://checkboxrace.com/">O nás</a></li>
                <li><a href="https://jacksonpollock.org/">Kontakt</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>